# JLC
#2024-2025/
models/
*/models/
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py


